/*body{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    height:100vh;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.container-fluid{*/
/*    flex: 1;*/
/*}*/

.container .sidebar ul.nav h4{
    color: #c1c1c1;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}